<div class = "left-nav">
  <div class="nav-header">
  </div>
  <div class="nav-menu-container">
    <div class="nav-menu">
      <ul>
        <li>
          <a href="/dashboard">
            <i class="fa fa-desktop"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/registries">
            <i class="fa fa-th-large"></i>
            <span>Registries</span>
            <span class="badge">4</span>
          </a>
        </li>
        <li>
          <a href="/images">
            <i class="fa fa-cubes"></i>
            <span>Repositories</span>
            <span class="badge">22</span>
          </a>
        </li>
        <li>
          <a href="/activity">
            <i class="fa fa-exchange"></i>
            <span>Activity</span>
          </a>
        </li>
      </ul> <!-- end top section-->
      <hr>

      <h5>Manage</h5>
      <ul>
        <li>
          <a href="/settings">
            <i class="fa fa-sliders"></i>
            <span>Settings</span>
          </a>
        </li>
        <li>
          <a href="/logs">
            <i class="fa fa-file-text-o"></i>
            <span>Logs</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/stefannaglee/docker-distribution-web/blob/master/README.md">
            <i class="fa fa-question-circle"></i>
            <span>Documentation</span>
          </a>
        </li>
      </ul> <!-- end bottom section-->
    </div> <!-- end .nav-menu -->
  </div> <!-- end .nav-menu-container -->
  <div class="nav-footer">
  </div>
</div> <!-- end .left-nav -->
