<div class="left-nav">
  <div class="nav-header"> </div>
  <div class="nav-menu-container">
    <div class="nav-menu">
      <ul>
        <li>
          <a href="/dashboard" class="unclickable">
            <i class="fa fa-desktop"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li id="registries">
          <a href="/registries">
            <i class="fa fa-th-large"></i>
            <span>Registries</span>
            <span class="badge" id="registry-count"></span>
          </a>
        </li>
        <li id="repositories">
          <a href="/registries/all/repositories">
            <i class="fa fa-cubes"></i>
            <span>Repositories</span>
            <div class="badge" id="repository-count"></div>
          </a>
        </li>
      </ul>
      <!-- end top section-->
      <hr>

      <h5>Admin</h5>
      <ul>
        <li>
          <a href="/logs">
            <i class="fa fa-history"></i>
            <span>Logs</span>
          </a>
        </li>
        <li id="repositories">
          <a href="/events">
            <i class="fa fa-exchange"></i>
            <span>Events</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/snagles/docker-registry-manager">
            <i class="fa fa-question-circle"></i>
            <span>Documentation</span>
          </a>
        </li>
      </ul>
      <!-- end bottom section-->
    </div>
    <!-- end .nav-menu -->
  </div>
  <!-- end .nav-menu-container -->
  <div class="nav-footer">
  </div>
</div>
<!-- end .left-nav -->

<script>
  $(document).ready(function() {

    // Get the badge count information
    $.ajax({
      url: '/registries/all/count',
      dataType: 'json',
      success: function(data) {
        $('#registry-count').text(data.Count);
      }
    });
    $.ajax({
      url: '/registries/all/repositories/count',
      dataType: 'json',
      success: function(data) {
        $('#repository-count').text(data.Count);
      }
    });
  });
</script>
